#navbar {
  width: 100%;
  background: whitesmoke;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
}

#navbar .left, #navbar .right {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#navbar .left {
  justify-content: start;
  text-align: left;
}

#navbar .right {
  justify-content: end;
  text-align: right;
}

#navbar a {
  padding: 1.5rem 1rem;
  color: #2e2f2f;
  text-decoration: none;
}

#navbar .left a {
  border-right: 2px solid #2e2f2f;
}

#navbar .right a {
  border-left: 2px solid #2e2f2f;
}

#navbar a:hover {
  opacity: .8;
  background: #dcdcdc;
}